<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
</head>
<body>
<h2>Все пользователи</h2>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Почтовый ящик</th>
        </tr>

        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}">Id</td>
            <td th:text="${user.getName()}">Имя</td>
            <td th:text="${user.getEmail()}">Почтовый ящик</td>

            <td>
                <form th:action="@{users/edit/{id}(id=${user.id})}" th:object="${user}">
                    <button type="submit">Изменить</button>
                </form>
            </td>
            <td>
                <form th:action="@{users/delete/{id}(id=${user.id})}" th:object="${user}">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
    </table>
    <form th:action="@{users/add}">
        <button type="submit">Добавить нового пользователя</button>
    </form>
</div>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>